body {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-family: "SCDream3";
}

@font-face {
  font-family: "SCDream3";
  src: url("../font/SCDream3.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

a {
  text-decoration-line: none;
  color: black;
}

img {
  width: 400px;
  height: 250px;
}

video {
  margin: 50px auto;
  width: 50%;
  height: auto;
  /* transform: translateX(50%); */
  border: solid 1px wheat;
}

.project_1,
.project_2 {
  margin-top: 50px;
  margin-bottom: 80px;
  color: black;
}

.project1_title,
.project2_title {
  text-align: center;
  width: 400px;
  margin: auto;
  padding: 20px 0px;
  border-radius: 10px;
  color: black;
  font-size: 30px;
}
.project1_title:hover,
.project2_title:hover {
  cursor: pointer;
}

.project1_title_info,
.project2_title_info {
  text-align: center;
  font-size: 13px;
}

.result img {
  height: 450px;
  width: 300px;
}

button {
  outline: none;
  border: none;
  font-size: 1em;

  padding: 10px;
}
.button:focus {
  outline: none;
  border: none;
}
