:root {
  --p-font-size: 0.8em;
  --media__title-font-size: 0.9em;
  --media__content-font-size: 0.6em;
}

body {
  width: 80%;
  margin: auto;
  text-align: center;
  font-family: "SCDream3";
  margin-top: 50px;
  margin-bottom: 50px;
}

@font-face {
  font-family: "SCDream3";
  src: url("../font/SCDream3.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

a {
  text-decoration-line: none;
  color: black;
}

img {
  width: 350px;
  height: 200px;
}

button {
  font-size: 1em;
  outline: none;
  border-radius: 10px;
  padding: 10px;
  border: 0px;
  /* background-color: transparent; */
}

.project_1 {
  margin-top: 50px;
  margin-bottom: 80px;
  color: black;
}

.project1__title {
  text-align: center;
  width: 400px;
  margin: auto;
  padding: 20px 0px;
  border-radius: 10px;
  color: black;
  font-size: 30px;
}

.project1__title:hover {
  cursor: pointer;
}

.project1__title-info {
  text-align: center;
  font-size: 0.3em;
  margin-bottom: 50px;
}

.construction {
  display: flex;
  flex-direction: row;
  width: 1000px;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 50px;
}

.information {
  color: black;
}

.information__title,
.result_title,
.construction__title,
.code_title {
  margin-top: 30px;
}

.information__content {
  font-size: var(--p-font-size);
}

.construction1,
.construction2,
.construction3,
.construction4,
.construction5,
.construction6 {
  margin: 20px;
}

.construction__1-des,
.construction__2-des,
.construction__3-des,
.construction__4-des,
.construction__5-des,
.construction__6-des {
  font-size: var(--p-font-size);
}

.divider {
  width: 90%;
  height: 1px;
  background-color: black;
  margin: 50px;
}

footer {
  width: 80%;
  text-align: center;
  margin: auto;
  color: lightgrey;
  font-size: 0.7em;
  margin-top: 100px;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .construction {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 350px;
  }

  .divider {
    margin-left: 10px;
  }

  .information__title,
  .construction__title,
  .detail__title,
  .code__title {
    font-size: var(--media__title-font-size);
  }

  .construction1__title,
  .construction2__title,
  .construction3__title,
  .construction4__title,
  .construction5__title,
  .construction6__title {
    font-size: var(--media__title-font-size);
  }

  .detail__content,
  .code__content,
  .information__content {
    font-size: var(--media__content-font-size);
  }

  .construction1-des,
  .construction2-des,
  .construction3-des,
  .construction4-des,
  .construction5-des,
  .construction6-des {
    font-size: var(--media__content-font-size);
  }
}
