:root {
  --all-bg-color: #f0efeb;
  --point-color: #ccd5ae;
}

* {
  box-sizing: border-box;
  font-family: SCDream3;
}

@font-face {
  font-family: "SCDream3";
  src: url("../font/SCDream3.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

body {
  margin: 0px;
  background-color: var(--all-bg-color);
}

a {
  text-decoration: none; /*텍스트의 밑줄 제거*/
  color: black;
}

.header {
  height: 80px;
  background-color: var(--all-bg-color);
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* position: fixed; */
  width: 100%;
  padding-top: 10px;
  border-bottom: solid 1px #fff;
  z-index: 9999;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid black;
  background-color: var(--all-bg-color);
}
.logo {
  display: flex;
}
.img {
  width: 10%;
  height: 35%;
  padding: 5px;
}
.logo_name {
  margin-top: 0px;
  padding: 10px 10px;
}
.main_menu {
  display: flex;
  padding-left: 10px;
  margin-top: 0px;
  margin-right: 0px;
}
.main_menu li {
  list-style: none;
  padding: 10px 10px;
  border-radius: 5px;
}
.main_menu li:hover {
  background-color: rgba(255, 255, 255, 0.721);
}
.icons {
  display: flex;
  margin-top: 0px;
}
.icons li {
  list-style: none;
  padding: 10px 10px;
  color: black;
}
.navbar_toggleBtn {
  position: absolute;
  right: 50px;
  top: 45px;
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }
  .main_menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
    display: none;
  }
  .main_menu li {
    width: 100%;
    text-align: center;
    border-radius: 5px;
  }
  .icons {
    justify-content: center;
    width: 100%;
    padding-left: 0px;
    display: none;
  }
  .icons li {
    justify-content: center;
  }
  .navbar_toggleBtn {
    display: block;
    font-size: 20px;
    margin-right: 30px;
  }
  .main_menu.active,
  .icons.active {
    display: flex;
  }

  footer {
    width: 100%;
  }
}

button {
  border: 0px;
  background-color: transparent;
  font-size: 1.2em;
  cursor: pointer;
}

.content {
  width: 100%;
  height: 600px;
  display: flex;
  margin: auto;
  justify-content: center;
  padding-top: 5px;
}

.content__projects p {
  margin: 10 auto;
  text-align: center;
  cursor: pointer;
}

.contents__infos {
  border-right: 1px solid black;
  width: 33%;
  height: 740px;
}

.contents__infos-title {
  width: 70%;
  height: 300px;
  background-color: #fff;
  color: var(--point-color);
  margin: auto;
  text-align: center;
  line-height: 300px;
  font-size: 3em;
  margin-top: 120px;
  transition: transform 300ms ease;
  border-radius: 30px;
}
.contents__infos-title:hover {
  transform: scale(1.1);
}

.contents__infos-title p {
  height: 100%;
}

.content__skills {
  width: 33%;
  height: 740px;
}

.content__skills-em {
  width: 100%;
}

.content__skills video {
  width: 100%;
  height: 400px;
  text-align: center;
  margin: 0px;
  margin-top: 80px;
  object-fit: fill;
}

.content__skills-btn {
  transform: translateY(-200px);
  margin-left: 175px;
  border: 0px;
  background-color: transparent;
  font-size: 1.5em;
  cursor: pointer;
  color: #fff;
}
.content__skills-btn:focus {
  outline: none;
  border: 0px;
}
.content__skills-btn:hover {
  color: rgb(0, 0, 0);
}

.content__projects {
  border-left: 1px solid black;
  width: 33%;
  height: 740px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.content__projects-home-img {
  width: 220px;
  cursor: pointer;
}
.content__projects-at-img,
.content__projects-diary-img {
  width: 200px;
  cursor: pointer;
}

.divider {
  background-color: black;
  height: 0.1px;
  width: 80%;
  margin-bottom: 30px;
}

/*  */
.content__present-detail {
  width: 100%;
  height: 660px;
  margin-top: 150px;
  background-color: #fff;
  padding: 100px;
}

.content__present-detail-top {
  display: flex;
  justify-content: center;
}

.content__present-detail-top ul {
  list-style: none;
  padding-left: 0px;
  padding: 15px;
  margin-left: 100px;
}

.bold {
  font-weight: bold;
  margin-top: 15px;
  border-left: 3px black solid;
  padding-left: 5px;
}

.content__present-detail-bottom {
  margin: 100px 150px;
  display: flex;
  justify-content: flex-end;
  margin-top: 0px;
}

.present-detail-top__ment {
  font-size: 2.2em;
}

.present-detail-bottom__call {
  margin-right: 230px;
}

/*  */
.content__skill-detail {
  margin: 130px 0px;
}

.skill-detail__title {
  margin: auto;
  text-align: center;
  margin-top: 50px;
}

.usable_skill {
  display: flex;
  padding-left: 100px;
  padding-top: 50px;
}

.usable_skill h2 {
  border-bottom: 2px solid black;
  height: 50px;
}

.language {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}

.number {
  display: inline;
  margin-left: 200px;
}
.number2 {
  display: inline;
  margin-left: 215px;
}
.number3 {
  display: inline;
  margin-left: 110px;
}
.number4 {
  display: inline;
  margin-left: 130px;
}

.number5 {
  display: inline;
  margin-left: 175px;
}

.percentage {
  width: 300px;
  height: 25px;
  background-color: black;
  border-radius: 10px;
  margin: 10px 0px;
}

.percentage1,
.percentage2 {
  width: 270px;
  height: 16px;
  background-color: var(--point-color);
  border-radius: 50px;
  transform: translateY(-30px);
}
.percentage3 {
  width: 200px;
  height: 16px;
  background-color: var(--point-color);
  border-radius: 50px;
  transform: translateY(-30px);
}
.percentage4 {
  width: 220px;
  height: 16px;
  background-color: var(--point-color);
  border-radius: 50px;
  transform: translateY(-30px);
}

.language-plus,
.tool {
  list-style: none;
}

.language-plus li,
.tool li {
  padding: 10px;
}

.abilitys {
  display: flex;
  padding-left: 100px;
  margin-top: 50px;
}

.abilitys h2 {
  margin-bottom: 60px;
  border-bottom: 2px solid black;
  height: 60px;
}

.ability {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.ability li {
  margin-left: 40px;
}

.plus {
  text-align: center;
  font-size: 70px;
}

.plus_ability {
  margin-top: 50px;
  font-size: 18px;
  background-color: rgba(255, 0, 0, 0.156);
  margin-left: 90px;
  padding: 30px;
}

.abilityImg1,
.abilityImg2,
.abilityImg3 {
  width: 150px;
  height: 150px;
}

.ability p {
  text-align: center;
  font-size: 18px;
  border-bottom: solid 3px red;
  padding-bottom: 10px;
  padding-top: 5px;
}

.plus_skill {
  border-top: dotted 3px black;
  padding-top: 30px;
}

.plus_skill i {
  font-size: 35px;
}

.plus_skill p {
  font-size: 15px;
}

footer {
  border-top: 1px black solid;
  margin: auto;
  text-align: center;
  font-size: 0.7em;
  color: lightgray;
  padding: 20px;
  margin-top: 5px;
}

@media screen and (max-width: 768px) {
}
